---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Santiago Vallejos">

  <!-- Presentacion del usuario -->
  <section class="">
    <main>
      <h1>Hey, soy Santiago <Badge>Disponible para trabajar</Badge></h1>
      <h2>Programador Full Stack. De Corrientes, Argentina 🧉. Me epecializo en crear aplicaciones únicas</h2>


    </main>
  </section>

</Layout>