---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Santiago Vallejos">

  <!-- Presentacion del usuario -->
  <section class="w-full mx-auto lg:w-[740px] py-44 fondo">
    <main>
      <img class="rounded-full w-20 h-20" src="../SantiagoPhoto(circulo).png" alt="Santiago photo">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
      >Hey, soy Santiago <a href="" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a> </h1>
      <h2 class="text-xl opacity-80"
      >Programador Full Stack. De Corrientes, Argentina 🧉. Me epecializo en crear aplicaciones únicas</h2>


    </main>
  </section>

</Layout>
