
<p class="mb-4 font-semibold">
    Mi nombre es Santiago Vallejos. Actualmente soy estudiante de <strong class="text-blue-400 font-semibold">Licenciatura en sistemas</strong> en la UNNE y formo parte del <strong class="text-blue-400 font-semibold">programa Talentos digitales</strong>, avalado por el gobierno de Corrientes, Telco Corrientes, mi propia institución y polo it Corrientes. Donde estoy capacitándome como <em class="italic">Programador Full Stack</em>.
</p>
<p class="mb-4 font-semibold">
    Mis objetivos van más allá de simplemente mejorar en el ámbito de la programación. Aspiro a crear <strong class="text-blue-400 font-semibold">soluciones únicas</strong>. Mi enfoque se centra en el desarrollo continuo y la aplicación práctica de mis conocimientos para contribuir al campo tecnológico de <strong class="text-blue-400 font-semibold"> manera innovadora</strong>. Estoy comprometido con mi crecimiento profesional y estoy emocionado por la oportunidad de ser parte de proyectos que desafíen mis límites.
</p>