<header class="flex justify-between itens-center py-3 w-[1128px]">
    <img class="rounded-full w-12 h-12" src="../SantiagoPhoto(circulo).png" alt="Santiago photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>